#! /usr/bin/env bash

# pyproject.toml hash: {{ include "private_dot_config/nvim/py3nvim/pyproject.toml" | sha256sum }}
# uv.lock hash: {{ include "private_dot_config/nvim/py3nvim/uv.lock" | sha256sum }}
CWD=$PWD

# make sure devbox global is activated
eval "$(devbox global shellenv)"

cd "$HOME/.config/nvim/py3nvim" || exit
uv venv --clear
uv sync
cd "$CWD" || exit
