#! /usr/bin/env bash

# chezmoi version: {{ .chezmoi.version.version }}
# devbox version: {{ output "devbox" "version" }}

chezmoi completion zsh --output="$HOME/.config/zsh/functions/_chezmoi"
devbox completion zsh >"$HOME/.config/zsh/functions/_devbox"
